<%

function getIngredientsArray(pizza) {
    //Отримує вміст піци
    var content = pizza.content;
    var result = [];

    //Object.keys повертає масив ключів в об’єкті JavaScript

    Object.keys(content).forEach(function(key){

        //a.concat(b) створює спільний масив із масивів a та b
        result = result.concat(content[key]);
    });

    return result;
}

   %>


<div class="col-sm-6 col-md-4">
    <div class="thumbnail pizza-card">
        <% if(pizza.is_new) { %>
            <span class="badge newBadge">Новинка</span>
        <% } else if(pizza.is_popular) {%>
            <span class="badge popularBadge">Популярна</span>
        <% } %>
        <img src=<%= pizza.icon %> class="img-fluid">
        <div class="caption"><h3 class="namePizza"><%= pizza.title %></h3>
            <div class="typeOfPizza"><%= pizza.type %></div>
            <p class="description"> <%= getIngredientsArray(pizza).join(", ") %>.</p>
            <div class="columns">
                <div class="pizzaColumn">
                    <img src="assets/images/size-icon.svg">
                    30
                    <br><img src="assets/images/weight.svg">
                    370</br>
                    <p>
                    <div class="price">99</div>
                    <div>грн.</div>
                    <button class="btn btn-warning buy-small">Купити</button>
                </div>
                <div class="pizzaColumn">
                    <img src="assets/images/size-icon.svg">
                    40
                    <br><img src="assets/images/weight.svg">
                    660</br>
                    <p>
                    <div class="price">149</div>
                    <div>грн.</div>
                    <button class="btn btn-warning buy-big">Купити</button>
                </div>
            </div>
        </div>
    </div>
</div>